* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 10px;
}
.logo {
  width: 150px;
  height: auto;
}
.nav {
  display: flex;
  align-items: center;
  margin: 30px;
  font-size: 24px;
}
.body {
  border: 2px solid rgb(0, 0, 17);
  height: 100%;
    width: 100%;
  margin-top: 5px;
}
.footer {
  border: 2px solid rgb(0, 0, 17);
}
.restaurant-card {
  background-color: #f0f0f0;
  width: 400px;
  height: auto;
  margin: 20px;
  padding: 10px;
}
.restaurant-card:hover {
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(47, 47, 51);
}
.logoimg {
  width: 100%;
  height: 125px;
}
.restaurant-container {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.searchbar {
  margin: 20px;
  border: 0.2px solid black;
  padding: 10px;
}
