.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 10px;
}
.logo{
    width: 150px;
    height: auto;
}
.nav{
  display: flex;
  align-items: center;
  margin: 30px;
  font-size: 24px;
}
.body{
    border: 2px solid rgb(0, 0, 17);
}
.footer{
    border: 2px solid rgb(0, 0, 17);
}