* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 10px;
}
.logo {
  width: 150px;
  height: auto;
}
.nav {
  display: flex;
  align-items: center;
  margin: 30px;
  font-size: 24px;
}
.body {
  border: 2px solid rgb(0, 0, 17);
  height: 100%;
  width: 100%;
  margin-top: 5px;
}
.footer {
  border: 2px solid rgb(0, 0, 17);
}
.restaurant-card {
  background-color: #f0f0f0;
  width: 400px;
  height: auto;
  margin: 20px;
  padding: 10px;
}
.restaurant-card:hover {
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(47, 47, 51);
}
.logoimg {
  width: 100%;
  height: 125px;
}
.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.filterbtn {
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;

}
.shimmer-card {
  background-color: #e0e0e0;
  width: 400px;
  height: 250px;
  margin: 20px;
  padding: 10px;
  animation: shimmer 1.5s infinite;
}
.shimmer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.login {
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.subHeader{
  display: flex;
  justify-content: space-between;
}
.searchbar {
  margin: 20px;
  /* border: 0.2px solid black; */
  padding: 10px;
}
.searchbtn{
  padding: 10px;
  margin-left: 10px;
  border-radius: 100px ;
  background-color: #fbff13;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.restaurant-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}